{% extends 'base.html.twig' %}

{% block body %}
    <div class="pages">
        <div data-page="success" class="page no-toolbar no-navbar">
            <div class="page-content">

                <div class="navbarpages navbarpagesbg">
                    <div class="navbar_left">
                        <a href="{{ path('app_home') }}"><img src="{{ asset('images/icons/white/home.png') }}" alt=""
                                                              style="width:25px" title=""/></a>
                    </div>
                    <div class="navbar_right navbar_right_menu">
                        <a href="#" data-panel="left" class="open-panel"><img
                                    src="{{ asset('images/icons/white/menu.png') }}" alt="" title=""/></a>
                    </div>

                </div>

                <div id="pages_maincontent">

                    <div class="page_single layout_fullwidth_padding">
                        <div class="success_message">
                            <span>Thank You!</span>
                            <img src="{{ asset('images/logo.png') }}" alt="" title=""/>
                            <p>Successfully completed.</p>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
{% endblock %}

